## Server Name or Client/Server pair		Key		
## ----------------				---------------
#
#portmaster.elemental.net			hardlyasecret
#portmaster2.elemental.net			donttellanyone
#
## uncomment the following line for simple testing of radlogin
## with freeradius-server
#
#localhost/localhost				testing123
#ip为需要连接 freeradius 的地址
${RADIUS_SERVER}    ${CLIENT_SECRET}
